body{
    background-color: rgb(230, 177, 255);
    color: black;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;

}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:active{
    color:blue;
}

.card{
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.bg-yellow{
    background: rgb(224, 193, 151);
}

.bg-green{
    background: rgb(196, 250, 142);
}

.bg-red{
    background: rgb(253, 190, 203);
}

.glavnoe{
    margin-bottom: 20px;
}

.avatarka{
    width: 200px;
    height: 200px;
    border-radius: 15%;
}

.container{
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

.card h2{
    margin-bottom: 10px;
}

.list{
    padding: 0 20px;
}

.list li{
    margin-bottom: 10px;
}

.table{
    width: 100%;
}

.table td{
    padding-bottom: 10px;
}

.langs li{
    margin-bottom: 10px;
}

.glavnoe{
    display: flex;
    margin-bottom: 20px;

}

.glavnoe-1{
    margin-left: 40px;
}

.glavnoe-1 h4{
    margin-bottom: 10px;
}

@media (max-width: 700px) {
    .glavnoe{
        text-align: center;
        display: block;
    }
}